{% extends 'base.html' %}

{% block head-content %}
    <form role="form" action="" method="post">
        {% csrf_token %}
        <div class="col-lg-4 col-lg-offset-4">
            <div class="form-group">
                <label for="wydzial">Wybierz wydział</label>
                <select name="wydzial" id="wydzial" class="form-control">
                    {% for wydzial in departments %}
                        <option value="{{ wydzial.id }}">{{ wydzial }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="kierunek">Wybierz kierunek</label>
                <select name="kierunek" id="kierunek" class="form-control">
                    {% for kierunek in field_of_study %}
                        <option value="{{ kierunek.id }}">{{ kierunek }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-ok"></span> Submit</button>
        </div>
    </form>
{% endblock %}