{% extends 'base.html' %}
{% load nvd3_tags %}
{% load staticfiles %}

{% block links %}
    {% include_chart_jscss %}
{% endblock %}
{% block script %}
    {% load_chart chart_type chart_data_0 "piechart_container_0" extra %}
    {% load_chart chart_type chart_data_1 "piechart_container_1" extra %}
    {% load_chart chart_type chart_data_2 "piechart_container_2" extra %}
    {% load_chart chart_type chart_data_3 "piechart_container_3" extra %}
{% endblock %}
{% block style %}
    {#    [id^="piechart_container_"]{#}
    {#        width: 40%;#}
    {#        float: left;#}
    {#    }#}
{% endblock %}
{% block head-content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 center-block">
            <div class="thumbnail">
                {% include_container "piechart_container_0" 400 370 %}
                <div class="caption">
                    <h3>Informatyka Stosowana</h3>
                    <a href="{% url "mgr.views.start_test" "all" %}" class="btn btn-info"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Rozpocznij test </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                {% include_container "piechart_container_1" 400 370 %}
                <div class="caption">
                    <h3>Matematyka</h3>
                    <a href="{% url "mgr.views.start_test" "matematyka" %}" class="btn btn-info"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Rozpocznij test </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                {% include_container "piechart_container_2" 400 370 %}
                <div class="caption">
                    <h3>Algorytmy i Struktury Danych</h3>
                    <a href="{% url "mgr.views.start_test" "algorytmy" %}" class="btn btn-info"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Rozpocznij test </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                {% include_container "piechart_container_3" 400 370 %}
                <div class="caption">
                    <h3>System Operacyjny Unix</h3>
                    <a href="{% url "mgr.views.start_test" "unix" %}" class="btn btn-info"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Rozpocznij test </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}