{% extends "base.html" %}
{% load staticfiles %}
{% block script %}
    <script>
        $(document).ready(function () {
            var $div_questions = $('.jumbotron');
            $('.prev-btn').on('click', function () {
                $div_questions.filter('.active').hide().removeClass('active').prev('div').show().addClass('active');
            });
            $('.next-btn').on('click', function () {
                $div_questions.filter('.active').hide().removeClass('active').next('div').show().addClass('active');
            });
            $('.prev-btn, .next-btn, [type=radio]').on('click', function () {
                check_if_all_questions_answered();
            });
            //make it green
            $('[type=radio]').change(function () {
                $(this).closest("[id^='div-question']").children("div").removeClass('well-success').addClass("well");
                $(this).closest('div').removeClass('well').addClass('well-success');
            });
            {#            $('#submit').on('click', function(){#}
            {#                $div_questions.each(function(){#}
            {#                    console.log($(this).attr('id'));#}
            {#                    console.log($(this).find("[name^='radio-button']:checked").attr('id'));#}
            {#                    console.log('przerwa');#}
            {#                    $value.find('')#}
            {#                    console.log($value.filter("[name^='radio-button']:checked").attr('id'));#}
            {#                });#}
            {#            });#}
        });
        function check_if_all_questions_answered() {
            var number_of_questions = {{ question_approved|length }};
            var questions_answered = $("[id^='ans-']:checked").length;
            if (number_of_questions == questions_answered) {
                $('#submit').prop('disabled', false);
            }
            {#        var $div_questions = $('.jumbotron');#}
            {#        $div_questions.each(function(index, $value){#}
            {#            console.log(index);#}
            {#            $value.filter('')#}
            {#        })#}
            {#        if($('#radio_button').is(':checked')) { alert("it's checked"); }#}
        }
    </script>
{% endblock %}
{% block head-content %}
    <form id="test-form" action="{% url 'check_answers' %}" method="post">
        {% csrf_token %}
        {% for question in question_approved %}
            {% if forloop.counter == 1 %}
                <div class="jumbotron form-group active" style="text-align: center" id="div-question-{{ question.id }}">
                    <h2 class="page-header">
                        <small>{{ forloop.counter }}. {{ question.value }}</small>
                    </h2>
                    <div class="well">
                        <label class="radio-inline"><input type="radio" name="{{ question.id }}-{{ question.answer_1.id }}"
                                                           id="ans-{{ question.answer_1.id }}">{{ question.answer_1 }}</label>
                    </div>
                    <div class="well">
                        <label class="radio-inline"><input type="radio" name="{{ question.id }}-{{ question.answer_2.id }}"
                                                           id="ans-{{ question.answer_2.id }}">{{ question.answer_2 }}</label>
                    </div>
                    <div class="well">
                        <label class="radio-inline"><input type="radio" name="{{ question.id }}-{{ question.answer_3.id }}"
                                                           id="ans-{{ question.answer_3.id }}">{{ question.answer_3 }}</label>
                    </div>
                    <div class="well">
                        <label class="radio-inline"><input type="radio" name="{{ question.id }}-{{ question.answer_4.id }}"
                                                           id="ans-{{ question.answer_4.id }}">{{ question.answer_4 }}</label>
                    </div>
                    <nav>
                        <ul class="pager">
                            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Prev</a></li>
                            <li class="next"><a href="#" class="next-btn">Next <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                </div>
            {% elif forloop.last %}
                <div class="jumbotron form-group" style="text-align: center; display: none;" id="div-question-{{ question.id }}">
                    <h2 class="page-header">
                        <small>{{ forloop.counter }}. {{ question.value }}</small>
                    </h2>
                    <div class="well">
                        <label class="radio-inline"><input type="radio" name="{{ question.id }}-{{ question.answer_1.id }}"
                                                           id="ans-{{ question.answer_1.id }}">{{ question.answer_1 }}</label>
                    </div>
                    <div class="well">
                        <label class="radio-inline"><input type="radio" name="{{ question.id }}-{{ question.answer_2.id }}"
                                                           id="ans-{{ question.answer_2.id }}">{{ question.answer_2 }}</label>
                    </div>
                    <div class="well">
                        <label class="radio-inline"><input type="radio" name="{{ question.id }}-{{ question.answer_3.id }}"
                                                           id="ans-{{ question.answer_3.id }}">{{ question.answer_3 }}</label>
                    </div>
                    <div class="well">
                        <label class="radio-inline"><input type="radio" name="{{ question.id }}-{{ question.answer_4.id }}"
                                                           id="ans-{{ question.answer_4.id }}">{{ question.answer_4 }}</label>
                    </div>
                    <nav>
                        <ul class="pager">
                            <li class="previous"><a href="#" class="prev-btn"><span aria-hidden="true">&larr;</span> Prev</a></li>
                            {#                        <li><a class="btn-info">Sprawdz odpowiedzi!</a></li>#}
                            <button class="btn btn-info" id="submit" type="submit" disabled><span class="glyphicon glyphicon-ok"></span> Sprawdz odpowiedzi!
                            </button>
                            <li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                </div>
            {% else %}
                <div class="jumbotron form-group" style="text-align: center; display: none;" id="div-question-{{ question.id }}">
                    <h2 class="page-header">
                        <small>{{ forloop.counter }}. {{ question.value }}</small>
                    </h2>
                    <div class="well">
                        <label class="radio-inline"><input type="radio" name="{{ question.id }}-{{ question.answer_1.id }}"
                                                           id="ans-{{ question.answer_1.id }}">{{ question.answer_1 }}</label>
                    </div>
                    <div class="well">
                        <label class="radio-inline"><input type="radio" name="{{ question.id }}-{{ question.answer_2.id }}"
                                                           id="ans-{{ question.answer_2.id }}">{{ question.answer_2 }}</label>
                    </div>
                    <div class="well">
                        <label class="radio-inline"><input type="radio" name="{{ question.id }}-{{ question.answer_3.id }}"
                                                           id="ans-{{ question.answer_3.id }}">{{ question.answer_3 }}</label>
                    </div>
                    <div class="well">
                        <label class="radio-inline"><input type="radio" name="{{ question.id }}-{{ question.answer_4.id }}"
                                                           id="ans-{{ question.answer_4.id }}">{{ question.answer_4 }}</label>
                    </div>
                    <nav>
                        <ul class="pager">
                            <li class="previous"><a href="#" class="prev-btn"><span aria-hidden="true">&larr;</span> Prev</a></li>
                            <li class="next"><a href="#" class="next-btn">Next <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                </div>
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}