{% extends 'base.html' %}

{% block head-content %}
    <div class="panel panel-primary">
        <div class="panel-heading">{{ question.question_number }} {{ question.field_of_question }}</div>
        <div class="panel-body" style="color: #000000">{{ question.value }}</div>
    </div>
    <form class="form-horizontal" style="margin-bottom: 10px" action="{% url 'mgr.views.work_on_question' %}" id='question_form' method="POST">
        {% csrf_token %}
        <div class="form-group">
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.label_tag }} {{ field }}
        {% endfor %}
        </div>
        <div class="form-group">
            <label for="id_answer_1">A:<input class="form-control" id="answer_A" name="answer_A" type="text" readonly="True" value="{{ question.answer_1 }}"></label>
        </div>
        <div class="form-group">
            <label for="id_answer_2">B:<input class="form-control" id="answer_B" name="answer_B" type="text"></label>
        </div>
        <div class="form-group">
            <label for="id_answer_3">C:<input class="form-control" id="answer_C" name="answer_C" type="text"></label>
        </div>
        <div class="form-group">
            <label for="id_answer_4" style="display: block">D:<input class="form-control" id="answer_D" name="answer_D" type="text"></label>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="next_question"><span class="glyphicon glyphicon-refresh"></span> Next question</button>
            <button type="submit" class="btn btn-success" id="question_prepared_button"><span class="glyphicon glyphicon-ok"></span> Submit</button>
        </div>
    </form>

    <div class="progress">
        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="150">
            <span id="progress_text" style="color: #269abc">0/20</span>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        var questions_done = {{ questions_done }};
        var progress = questions_done / 20*100;
        $('.progress-bar').css({'width': progress + '%', 'aria-valuenow': progress}).attr({'aria-valuenow': progress});
        $('#progress_text').text(questions_done + '/20');
        $('#next_question').on('click', function(){
            location.reload();
        });
        console.log($('#id_answer_1 option:selected').text());
        $('#question_form').bootstrapValidator({
            message: 'This field is required!',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
           fields: {
               answer_B: {
                   message: 'Wpisz przykładową odpowiedz!',
                   validators: {
                       notEmpty: {
                           message: 'To pole nie może byc puste!'
                       }
                   }
               },
               answer_C: {
                   message: 'Wpisz przykładową odpowiedz!',
                   validators: {
                       notEmpty: {
                           message: 'To pole nie może byc puste!'
                       }
                   }
               },
               answer_D: {
                   message: 'Wpisz przykładową odpowiedz!',
                   validators: {
                       notEmpty: {
                           message: 'To pole nie może byc puste!'
                       }
                   }
               }
           }
        });
        var answer_1 = "{{ question.answer_1 }}";
        if(answer_1.length > 75)
        {
            $('#answer_A').replaceWith('<textarea class="form-control" id="answer_A" name="answer_A" type="text" readonly="True">{{ question.answer_1 }}</textarea>')
        }
    })
</script>
{% endblock %}
{% block style %}
.form-control{
    width: 450px;
    display: inline;
}
label{
    color: #ffffff;
{% endblock %}